<!-- <app-navbar></app-navbar> -->
<div>
<!-- <input type="text" name="" id=""> -->
    <!-- <input
      type="text"
      class="form-control"
      placeholder="=Buscar Countries"
      #txtSearch
      (keyup)="onSearchCountries( txtSearch.value )"   
    /> -->
    <select class="">
      <option value="africa">Africa</option>
      <option value="americas">Americas</option>
      <option value="asia">Asia</option>
      <option value="europe">Europe</option>
      <option value="oceania">Oceania</option>
    </select>  
</div>

<!-- <app-card></app-card> -->
