@import "../../../../assets/variables";

.card-countries {
  display: grid;
  border-radius: 8px;
  grid-row-gap: 230px;
  row-gap: 32px;
  background: #2b3945;
  box-shadow: rgb(6 24 44 / 40%) 0px 0px 0px 2px,
    rgb(6 24 44 / 65%) 0px 4px 6px -1px, rgb(255 255 255 / 8%) 0px 1px 0px inset;
}

.wrapper {
  display: grid;
  grid-gap: 75px;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  justify-content: center;
  padding: 41px;
}

.img-box {
  display: flex;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: auto;
  height: 161px;
}

.paragraph {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
    text-indent: 35px;
    // padding-left: 29px;
    padding-bottom: 30px;
}

.paragraph, span{
    line-height: 2;
}