@import "../../../../assets/_variables.scss";

.toolbar {
  display: grid;
  background-color: #2b3945;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(1.5rem, 1fr));
}

.box-title-toolbar {
  display: grid;
  color: #fff;
  font-weight: 300;
  grid-column-end: auto;
  grid-auto-columns: max-content;
  justify-self: left;
  font-size: 20px;
}

.change_scheme {
  display: grid;
  justify-content: flex-end;
  width: 100%;
  color: $white;
  font-size: 15px;
  font-weight: 300;
}
