@import  './assets/_variables.scss';
@import url('https://fonts.google.com/specimen/Nunito+Sans');


$blue-dark: hsl(209, 23%, 22%);
$blue-secondary: hsl(207, 26%, 17%);
$cyan-dark: hsl(200, 15%, 8%);
$gray: hsl(0, 0%, 52%);
$white-secondary: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

body{
    margin: 0;
    padding: 0;
    background-color: $blue-secondary;
    font-family: 'Nunito Sans', sans-serif;
}

.container{
display: grid;
gap: 1rem;
grid-auto-rows: 22rem;
grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}